body {
    font-family: Georgia, serif;
}

.logo {
    transition: all 0.5s ease-in-out 0s;
}

.logo:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
}

.logo:hover {
    filter: drop-shadow(2px 2px 15px rgba(0, 190, 133, 0.5));
}

header {
    border-bottom: 2px solid darkgreen;
}

#carousel {
    margin-top: 5vh;
}

#carouselExampleCaptions {
    margin-top: 2vh;
    border-radius: 1vh;
}

#carImg {
    height: 70vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    position: relative;
}

footer::after {
    content: "";
    background: url(../images/footer.png);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

a {
    width: auto;
    text-decoration: none;
}

#hola {
    color: red;
    background-color: lightgray;
}

#card {
    background-image: url("../images/head.png");
    opacity: 1;
}

#cardHead {
    background-color: #e5fce3;
}

#textCard {
    color: darkblue;
}

#scroll {
    width: 15%;
    height: 15%;
}

a {
    width: auto;
}

.panel {
    border: 1px solid pink;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid skyblue;
    background-color: #fff !important;
    color: skyblue;
}

.panel-heading {
    color: #fff !important;
    background-color: lightskyblue !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: skyblue;
    color: #fff;
}